<form method="post" action="update">
    <input type="text" name="_id" value="{{editData._id}}">
    {{>payment}}
</form>
<a href="delete/{{editData._id}}" class="button error"><span>Delete</span></a>